.main-wrap{
    display: flex;
}
.product-wrap {
    width: 80%;
    padding: 10px;
    margin-left: 200px;
    margin-right: 20px;
    border-right: 1px solid #cccccc;
}
.cart-wrap{
    width: 20%;
}