.product{
    display: flex;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.product img{
    padding-right: 10px;
    width: 250px;
}
.product .product-title{
    font-weight: 400;
    color: blue;
    text-align: left;
}
.product small{
    display:block;
    margin-bottom: 20px;
}
.product .btn{
    width: 200px;
}