.header{
    vertical-align: center;
}
.header .logo{
    margin-right: 200px;
}
.header img{
    height: 80px;
    display: flex;
    cursor: pointer;
}
.header nav{
    line-height: 40px;
    background:black;
    display: flex;
    padding-left: 50px;
}
.header nav a{
    color: white;
    font-size: 20px;
    text-decoration:none;
    margin-right: 20px;
  
}
/* //Bootstrap class style editing */
.navbar{
    padding:0;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}